@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(2vw);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    background-color: black;
    border-radius: 1.56vw;
    padding: 1vw;
    box-sizing: border-box;
    position: relative;
    animation: slideIn .4s ease-out 0s 1;

    header {
        position: absolute;
        top: -1.1vw;
        background-color: black;
        padding: .2vw .8vw;
        border-radius: .52vw;

        h2 {
            font-size: 1.25em;
            color: var(--prime-color);
            margin: 0;
            font-weight: 700;
        }
    }
}

@media screen and (max-width: 450px) {
    @keyframes slideIn {
        from {
            opacity: 0;
            transform: translateY(6vw);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .card {
        border-radius: 2.22vw;
        padding: 2vw;
        padding-top: 4vw;

        header {
            top: -4vw;
            border-radius: 2.22vw;
            padding: .4vw 2vw;
        }
    }
}