.credit {
    width: 6.09vw;
    height: 2.81vw;
    margin-left: .52vw;
    transition: transform .2s ease-in;

    &:hover {
        transform: scale(1.05);
    }
}

@media screen and (max-width: 450px) {
    .credit {
        width: 18.27vw;
        height: 8.43vw;
    }
}