.output {
    .start_div {
        display: flex;
        justify-content: space-between;

        button {
            border: none;
            flex-grow: 1;
        }
    }

    .input {
        max-width: 11vw;
        border: none;
        background-color: #203a25;
        color: white;
        padding: .2vw .6vw;
    
        &:focus {
            outline: none;
        }
    }

    .content {
        margin: 0;
        min-height: 15.63vw;
        color: white;
        white-space: pre-line;
        margin-top: .52vw;
    }
}

@media screen and (max-width: 450px) {
    .output {
        .start_div {
            .input {
                max-width: 25vw;
            }
        }

        .content {
            margin-top: 4vw;
        }
    }
}